---
layout: application
---

{% assign blog = site.blog[page.category] %}

<div id="blog">
  <section class="main border-0">
    <div class="container">
      <div class="col-lg-4 blog-info-container">
        <aside class="card mb-5">
          <div class="hide-overflow">
            <a href="{{ site.baseurl }}/blog/{{ page.category }}">
              <img src="{{ site.baseurl }}/assets/images/blog/{{ page.category }}/cover.png" class="card-img-top w-100 hover-img">
            </a>
          </div>
          <div class="card-body">
            <a href="{{ site.baseurl }}/blog/{{ page.category }}">
              <h6 class="card-title mb-0">
                {{ blog.name }}
              </h6>
            </a>
            <h6 class="mb-5">
              <small>by Kyle Glick</small>
            </h6>
            <p class="card-text">{{ blog.description }}</p>
          </div>
        </aside>
      </div>
      <div class="col-lg-8 post-container">
        {{ content }}
      </div>
    </div>
  </section>
</div>
