#experience {
  .timeline {
    padding-top: map-get($spacers, 4);

    .timeline-row {
      &:nth-child(2n) {
        .timeline-indicator {
          flex-direction: row-reverse;
          left: unset;
          right: calc(50% - 1rem);

          svg {
            margin-left: map-get($spacers, 2);
            margin-right: unset;
          }
        }

        .timeline-section {
          margin-left: auto;
          border-left: 2px solid tint-color($primary, 50%);
          border-right: unset;
        }
      }

      &:last-child {
        .timeline-section {
          border-left: 0;
          border-right: 0;
        }
      }

      .timeline-indicator {
        position: absolute;
        left: calc(50% - 1rem);
        display: flex;
        align-items: center;
        padding: 0;
        border: 0;
        background: none;
        color: $link-color;
        transition: color $animation-duration ease-in-out;
        
        svg {
          width: 2rem;
          height: 2rem;
          margin-right: map-get($spacers, 2);
          border-radius: 1rem;
          background: $light;
        }
      }

      .timeline-section {
        width: calc(50% + 1px);
        display: flex;
        align-items: flex-start;
        border-right: 2px solid tint-color($primary, 50%);
        
        .timeline-section-contents {
          display: flex;
          padding: map-get($spacers, 4);
          margin-top: $spacer * -2;
          transition: background-color $animation-duration ease-in-out;

          &.active {
            background: rgba(0,0,0,0.05);

            .timeline-indicator {
              color: $link-hover-color;
            }
          }
        }

        .timeline-company {
          margin-bottom: 0;
        }

        .timeline-roles {
          margin-bottom: map-get($spacers, 2);

          .timeline-role {
            margin-bottom: 0;
            color: $secondary
          }
        }

        .timeline-description {
          margin-bottom: map-get($spacers, 2);
        }
      }
    }
  }
}
