<section id="about">
  <div class="section-container container">
    <div class="section-title-container">
      <h1 class="section-title">About Me</h1>
      <hr/>
    </div>
    <div class="section-content-container">
      <div class="col-6">
        <h2>Hi, I'm Kayla!</h2>
        <p>I'm a full stack web developer and part time freelance web developer based in Charleston, South Carolina.</p>
        <p>I design and build picture-perfect websites and web applications with alluring user experiences supported by robust and efficient back-end architectures.</p>
      </div>
      <div class="col-5 offset-1 text-right">
        <img src="{{ site.base_url }}/assets/images/me.png" id="me" class="w-100 rounded-circle">
      </div>
    </div>
  </div>
</section>
