<section id="about">
  <div class="section-container container">
    <div class="section-title-container offset-2">
      <h1 class="section-title">About Me</h1>
    </div>
    <div class="section-content-container">
      <div class="col-6 offset-1">
        <p>I'm a Full Stack Web Developer for the <a href="https://sparcrequest.atlassian.net/wiki/spaces/RD/overview" target="blank">SPARCRequest</a> team at the <a href="https://web.musc.edu/" target="blank">Medical University of South Carolina</a> where I design and build complex open-source web apps used by researchers at medical institutions across the US.</p>
        <p class="mb-0">Technologies I'm currently working with:</p>
        <div id="skills" class="row">
          <div class="col-6">
            <p class="mb-0"><i class="fas fa-gem mr-2"></i>Ruby on Rails</p>
            <p class="mb-0"><i class="fab fa-js mr-2"></i>JavaScript (ES6+)</p>
            <p class="mb-0"><i class="fas fa-usd-circle mr-2"></i>jQuery</p>
            <p><i class="fab fa-node-js mr-2"></i>Node.js / Yarn</p>
          </div>
          <div class="col-6">
            <p class="mb-0"><i class="fab fa-html5 mr-2"></i>HTML, ERB, &amp; HAML</p>
            <p class="mb-0"><i class="fab fa-css3-alt mr-2"></i>CSS &amp; SCSS</p>
            <p class="mb-0"><i class="fab fa-bootstrap mr-2"></i>Bootstrap 3 &amp; 4</p>
            <p></p>
          </div>
        </div>
        <p class="mb-0">Outside the office I'm an:</p>
        <p class="mb-0"><i class="fas fa-globe-americas mr-2"></i><strong>Adventurer</strong> - Basking in the world's natural beauty.</p>
        <p class="mb-0"><i class="fas fa-hat-chef mr-2"></i><strong>Chef</strong> - Exploring artisan cuisine from all over the globe.</p>
        <p class="mb-0"><i class="fas fa-music mr-2"></i><strong>Musician</strong> - Symphonic percussionist and jazz drummer</p>
        <p class="mb-0"><i class="fas fa-palette mr-2"></i><strong>Artist</strong> - Creating websites, stained glass windows, and more.</p>
      </div>
      <div class="col-4 text-right">
        <img src="{{ site.base_url }}/assets/images/me.png" id="me" class="rounded mt-2">
      </div>
    </div>
  </div>
</section>
