<section id="about">
  <div class="section-container container-fluid">
    <div class="section-title-container">
      <h1 class="section-title fade-in">A Little About Me<hr/></h1>
    </div>
    <div class="section-content-container">
      <div class="row">
        <div class="col-lg-7 col-md-9 col-12 fade-in">
          <h2>Hi, I'm Kayla!</h2>
          <p>I'm a Full-Stack Web Developer based in Charleston, South Carolina. I design and build picture-perfect websites and web applications with alluring user experiences supported by robust and efficient back-end architectures.</p>
          <p>After graduating from <a href="https://cofc.edu" target="_blank">College of Charlston</a> I joined the <a href="https://sparcrequest.atlassian.net/wiki/spaces/RD/overview" target="_blank">SPARCRequest</a> team at the <a href="https://web.musc.edu/" target="_blank">Medical University of South Carolina</a> where I had previously interned for 3 years during college. My team develops open-source web applications used by researchers at medical institutions all over the United States.</p>
          <p class="mb-0">Outside the office, you'll often find me:</p>
          <ul class="list-unstyled">
            <li class="text-text"><p class="mb-0"><span class="about-icon mr-2">☕</span><span>In cozy cafés sampling unique, local coffee.</span></p></li>
            <li class="text-text"><p class="mb-0"><span class="about-icon mr-2">🍙</span><span>In a family-owned restaurant experiencing diverse cuisines.</span></p></li>
            <li class="text-text"><p class="mb-0"><span class="about-icon mr-2">👩‍🍳</span><span>In the kitchen experimenting with new flavors for my cooking.</span></p></li>
            <li class="text-text"><p class="mb-0"><span class="about-icon mr-2">🐈</span><span>Or at home, snuggling up on the couch with my two wonderful cats.</span></p></li>
        </div>
        <div class="col-4 d-none d-lg-block offset-1 text-right fade-in">
          <img src="{{ site.base_url }}/assets/images/about/me.jpg" id="me" class="d-block w-100 rounded-circle">
        </div>
      </div>
      <img src="{{ site.base_url }}/assets/images/about/me.jpg" id="me" class="d-none d-md-block d-lg-none w-50 mx-auto mt-5 rounded-circle fade-in">
      <img src="{{ site.base_url }}/assets/images/about/me.jpg" id="me" class="d-block d-md-none w-75 mx-auto mt-3 rounded-circle fade-in">
    </div>
  </div>
</section>
