<section id="contact">
  <div class="section-container container-fluid d-flex flex-column">
    <div class="section-title-container">
      <h1 class="section-title justify-content-center fade-in">Get in Touch</h1>
    </div>
    <div class="section-content-container">
      <div class="col-8 offset-2 d-flex flex-column justify-content-center text-center h-100 fade-in">
        <h3 class="text-text mb-0">I'm always looking for new opportunities!</h3>
        <h3 class="text-text mb-4">Send me an email for business inquiries.</h3>
        <div>
          <a href="mailto:kaylaglick12@gmail.com" class="btn btn-lg btn-outline-pop fade-in">Say Hello!</a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="siteFooter" class="d-flex flex-column justify-content-center bg-dark">
  <div class="mx-auto d-flex justify-content-between align-items-start mb-2" id="footerLinks">
    <a href="https://github.com/kayla-glick" target="_blank" class="text-light"><i class="fab fa-github"></i></a>
    <a href="https://linkedin.com/in/kayla-glick" target="_blank" class="text-light mx-3"><i class="fab fa-linkedin"></i></a>
    <a href="mailto:kaylaglick12@gmail.com" class="text-light"><i class="far fa-envelope"></i></a>
  </div>
  <div class="w-100 text-center">
    <p class="mb-0 text-light">&copy; Copyright 2020 Kayla Glick</p>
  </div>
</footer>
