<section id="contact">
  <div class="section-container container">
    <div class="section-title-container">
      <h1 class="section-title">Contact Me</h1>
      <hr/>
    </div>
    <div class="section-content-container">
      <div class="col-8 offset-2 d-flex flex-column justify-content-center text-center">
        <h3 class="text-text mb-0">I'm always looking for new opportunities!</h3>
        <h3 class="text-text mb-4">Send me an email for business inquiries.</h3>
        <div>
          <a href="mailto:kaylaglick12@gmail.com" class="btn btn-lg btn-outline-pop">Get In Touch</a>
        </div>
      </div>
    </div>
    <footer>
      <hr class="w-100"/>
      <div class="col-5 offset-1 d-flex flex-column">
        <a href="mailto:kaylaglick12@gmail.com", class="d-flex align-items-center text-text mb-2"><i class="far fa-envelope mr-2"></i>kaylaglick12@gmail.com</a>
        <a href="{{ site.base_url }}" target="blank", class="d-flex align-items-center text-text"><i class="fal fa-globe mr-2"></i>kyle-glick.github.io</a>
      </div>
      <div class="col-5 offset-1 d-flex flex-column">
        <a href="https://github.com/kyle-glick" target="blank", class="d-flex align-items-center text-text mb-2"><i class="fab fa-github mr-2"></i>github.com/kyle-glick</a>
        <a href="https://linkedin.com/in/kyle-glick" target="blank", class="d-flex align-items-center text-text"><i class="fab fa-linkedin mr-2"></i>linkedin.com/in/kyle-glick</a>
      </div>
      <div class="w-100 text-center py-4">
        <p class="mb-0">&copy; Copyright 2019 Kayla Glick</p>
      </div>
    </footer>
  </div>
</section>
