<section id="experience">
  <div class="section-container container-fluid">
    <div class="section-title-container">
      <h1 class="section-title fade-in">Where I've Worked<hr/></h1>
    </div>
    <div class="section-content-container">
      {% for role in site.roles %}
        {% assign mod = forloop.index | modulo: 2 %}
        <div class="timeline-row row">
          <div class="timeline-section-container col-6 fade-in {% if mod == 0 %}order-last{% endif %}">
            <i class="fas fa-dot-circle timeline-indicator fade-in-sub"></i>
            <div class="timeline-section d-flex align-items-start">
              <img src="{{ site.base_url }}/assets/images/experience/{{ role[0] }}/logo.png" width="64" class="d-none d-sm-block">
              <div>
                <a href="{{ role[1].employer_link }}" target="_blank" class="text-pop h3 mb-0"><span class="font-weight-bold">{{ role[1].employer }}</span></a>
                <h3 class="text-pop mb-0"><em>{{ role[1].role }}</em></h3>
                <h4 class="text-muted"><small>{{ role[1].dates }} | {{ role[1].location }}</small></h4>
                <ul class="responsibilities list-unstyled mb-0">
                  {% for responsibility in role[1].responsibilities %}
                    <li class="text-text">{{ responsibility }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-section-container col-6">
            <h3 class="timeline-year text-pop mb-0 fade-in">{{ role[1].year }}</h3>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
