<section id="greeting">
  <div class="section-container container-fluid d-flex flex-column justify-content-center text-center">
    <h1 class="section-title display-1 divider text-white m-0">Kayla Glick</h1>
    <h1 class="display-4 text-white mb-0">Web Developer</h1>
    <h3 class="text-white mb-4"><i>Pixel-perfect websites for your picture-perfect business</i></h3>
    <div>
      <a href="mailto:kaylaglick12@gmail.com" id="greetingContact" class="btn btn-lg btn-outline-pop mb-4">Get In Touch</a>
    </div>
    <div>
      <ul class="social-links list-inline unstyled">
        <li class="social-link-container list-inline-item">
          <a href="https://github.com/kayla-glick" target="blank" class="social-link"><i class="fab fa-github-alt fa-lg"></i></a>
        </li>
        <li class="social-link-container list-inline-item">
          <a href="https://linkedin.com/in/kayla-glick" target="blank" class="social-link"><i class="fab fa-linkedin-in fa-lg"></i></a>
        </li>
        <li class="social-link-container list-inline-item">
          <a href="mailto:kaylaglick12@gmail.com" class="social-link"><i class="far fa-envelope fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
