<input id="per-page" type="hidden" value="{{ site.per_page }}">
<nav class="navbar navbar-inverse">
  <div class="container-fluid col-sm-8 col-sm-offset-2 p-0">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <div class="brand-container">
          <img src="/assets/images/GitHub-Mark-Light-64px.png">
          <span>Kyle Glick</span>
        </div>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        {% if include.header == 'about' %}
          <a href="{{ site.baseurl }}/" class="active navbar-link">About Me</a>
        {% else %}
          <a href="{{ site.baseurl }}/" class="navbar-link">About Me</a>
        {% endif %}
      </li>
      <li>
        {% if include.header == 'portfolio' %}
          <a href="{{ site.baseurl }}/portfolio/" class="active navbar-link">Portfolio</a>
        {% else %}
          <a href="{{ site.baseurl }}/portfolio/" class="navbar-link">Portfolio</a>
        {% endif %}
      </li>
      <li>
        {% if include.header == 'resume' %}
          <a href="{{ site.baseurl }}/resume/" class="active navbar-link">Resume</a>
        {% else %}
          <a href="{{ site.baseurl }}/resume/" class="navbar-link">Resume</a>
        {% endif %}
      </li>
      <li>
        {% if include.header == 'contact' %}
          <a href="{{ site.baseurl }}/contact/" class="active navbar-link">Contact Me</a>
        {% else %}
          <a href="{{ site.baseurl }}/contact/" class="navbar-link">Contact Me</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
