<nav class="navbar navbar-inverse">
  <div class="container-fluid col-sm-8 col-sm-offset-2">
    <a class="navbar-brand" href="{{ site.baseurl }}/">Kyle Glick</a>
    <div class="navbar-header pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" href="{{ site.baseurl }}/">About Me</a>
        </li>
        <li>
          <a class="nav-link" href="{{ site.baseurl }}/projects/">Projects</a>
        </li>
        <li>
          <a class="nav-link" href="{{ site.baseurl }}/resume/">Resume</a>
        </li>
        <li>
          <a class="nav-link" href="{{ site.baseurl }}/contact/">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
