<section id="skills">
  <div class="section-container container">
    <div class="section-title-container">
      <h1 class="section-title">Skills</h1>
      <hr/>
    </div>
    <div class="section-content-container">
      {% assign midpoint = site.skills | size | divided_by: 2.0 | ceil %}
      <div class="col-6">
        <ul class="list-unstyled">
          {% for skill in site.skills limit: midpoint %}
            <li class="skill">
              <span class="font-weight-normal">{{ skill[1]['text'] }}</span>
              <div class="proficiency">
                {% for i in (1..skill[1]['proficiency']) %}
                  <i class="fas fa-star text-pop"></i>
                {% endfor %}
                {% assign start = skill[1]['proficiency'] | plus: 1 %}
                {% for i in (start..5) %}
                  <i class="fas fa-star text-neutral"></i>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-unstyled">
          {% for skill in site.skills offset: midpoint %}
            <li class="skill">
              <span class="font-weight-normal">{{ skill[1]['text'] }}</span>
              <div class="proficiency">
                {% for i in (1..skill[1]['proficiency']) %}
                  <i class="fas fa-star text-pop"></i>
                {% endfor %}
                {% assign start = skill[1]['proficiency'] | plus: 1 %}
                {% for i in (start..5) %}
                  <i class="fas fa-star text-neutral"></i>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>



<!-- <p class="text-light mb-0">Technologies I'm currently working with:</p>
<div id="skills" class="row">
  <div class="col-6">
    <p class="mb-0"><span>Ruby on Rails</span></p>
    <p class="mb-0"><span>JavaScript (ES6+)</span></p>
    <p class="mb-0"><span>jQuery</span></p>
    <p><span>Node.js / Yarn</span></p>
  </div>
  <div class="col-6">
    <p class="mb-0"><span>HTML, ERB, &amp; HAML</span></p>
    <p class="mb-0"><span>CSS &amp; SCSS</span></p>
    <p class="mb-0"><span>Bootstrap 3 &amp; 4</span></p>
  </div>
</div> -->