#contact {
  min-height: calc(100vh - 120px);
  padding-bottom: 0;

  .section-container {
    .section-content-container {
      flex: 1;
    }
  }
}

#siteFooter {
  height: 120px;
}

@include media-breakpoint-up(xs) {
  #siteFooter {
    #footerLinks {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #siteFooter {
    #footerLinks {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}