#experience {
  .timeline-row {
    &:not(:last-child) {
      .timeline-section-container {
        position: relative;
        padding-bottom: 1.5rem;

        &:first-child.order-last {
          border-left: 2px solid theme-color-level('pop', -10);

          &+ .timeline-section-container {
            border-right: 2px solid theme-color-level('pop', -10);
          }
        }

        &:first-child:not(.order-last) {
          border-right: 2px solid theme-color-level('pop', -10);

          &+ .timeline-section-container {
            border-left: 2px solid theme-color-level('pop', -10);
          }
        }
      }
    }

    .timeline-section-container {
      position: relative;
      min-height: 300px;

      &:first-child.order-last {
        padding-left: 1.5rem;

        &+ .timeline-section-container {
          padding-right: 1.5rem;
          text-align: right;
        }

        .timeline-indicator {
          left: -18px;
        }
      }

      &:first-child:not(.order-last) {
        padding-right: 1.5rem;

        &+ .timeline-section-container {
          padding-left: 1.5rem;
          text-align: left;
        }

        .timeline-indicator {
          right: -18px;
        }
      }

      .timeline-indicator {
        position: absolute;
        top: 0;
        width: 32px;
        height: 32px;
        color: theme-color('pop');
        background: white;
        z-index: 100;
      }
    }

    .responsibilities {
      padding-left: 0;

      li {
        position: relative;
        padding-left: 0.75rem;

        &::before {
          content: "-";
          position: absolute;
          left: 0;
        }
      }
    }
  }
}


@include media-breakpoint-up(xs) {
  #experience {
    .timeline-row {
      &:first-child {
        padding-top: 1rem;
      }

      .timeline-section {
        margin-top: -1rem;
      }
    }
  }
}
