.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.grey-divider {
  color: #cccccc;
  font-weight: normal;
}

a {
  outline: 0;
  text-decoration: none !important;
}

a:not(.navbar-link):not(.btn):hover {
  color: var(--apricot);
}

a:not(.navbar-link):not(.btn):active,
a:not(.navbar-link):not(.btn):focus {
  color: var(--apricot-secondary);
}

a:not(.navbar-link):not(.glowing-link):not(.glowing-logo):not(.btn),
a:not(.navbar-link):not(.glowing-link):not(.glowing-logo):not(.btn):hover,
a:not(.navbar-link):not(.glowing-link):not(.glowing-logo):not(.btn):active,
a:not(.navbar-link):not(.glowing-link):not(.glowing-logo):not(.btn):focus {
  transition: color .25s ease-in-out;
}

.btn.btn-default,
.btn.btn-default.disabled:hover {
  background: var(--apricot);
  border-color: var(--apricot);
  color: white !important;
}

.btn.btn-default:not(.disabled):hover {
  background: var(--apricot-secondary);
  border-color: var(--apricot-secondary);
}

.btn.btn-default:not(.disabled):active {
  background: var(--apricot-tertiary) !important;
  border-color: var(--apricot-tertiary) !important;
}

.btn.btn-default:not(.disabled),
.btn.btn-default:not(.disabled):hover,
.btn.btn-default:not(.disabled):active {
  transition: background-color .25s, border-color .25s ease-in-out;
}

.disabled span {
  color: inherit !important;
  background: inherit !important;
}

.hidden {
  display: none;
}

.glowing-link:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--apricot);
}

.glowing-link,
.glowing-link:hover {
  transition: color .25s, box-shadow 0.25s ease-in-out;
}

.glowing-logo {
  transition: all .25s linear;
}

.glowing-logo:hover {
  opacity: .5;
}

.text-orange {
  color: var(--apricot);
}