@import url("generics.css");
@import url("modal.css");
@import url("portfolio.css");
@import url("posts.css");

:root {
  --background: #474747;
  --apricot: #f7882f;
  --apricot-secondary: #d7680f;
  --apricot-tertiary: #b74800;
  --citrus: #f7c331;
  --apple: #fce7ca;
  --apple-tertiary: #dcc7aa;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: var(--apple);
}

/* Header */
.navbar {
  background-color: var(--background);
  border-radius: 0px;
  border-width: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  display: table;
  color: white !important;
  font-size: 3em;
}

.navbar-brand img {
  margin-right: 5px;
  width: 1em;
}

.brand-container {
  display: table-row;
}

.brand-container img,
.brand-container span {
  display: table-cell;
  vertical-align: middle;
}

.navbar-nav {
  margin-top: 15px;
  margin-right: 0px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-radius: 10px;
  font-size: 2.5em;
}

.navbar-nav > li > a {
  color: white !important;
  padding: 0 0 5px 0;
  margin: 10px 10px 5px 10px;
}

.navbar-nav > li:hover a,
.navbar-nav > li > a.active {
  color: var(--apricot) !important;
  border-bottom: 2px solid var(--apricot);
}

.navbar-nav > li a:focus {
  color: var(--apricot-secondary) !important;
  border-bottom: 2px solid var(--apricot-secondary);
}

/* Container */
.container {
  padding: 20px;
  min-height: 100%;
}

.container,
footer > div {
  box-shadow: 0 12px 15px 0 var(--apple-tertiary);
  background: white;
}
/* Footer */
footer {
  font-size: 32px;
}

footer > div {
  padding-bottom: 20px;
}

footer > div > div > span {
  opacity: 0.4;
}

footer .github-pages-logo {
  margin-top: 2px;
}

footer .bootstrap-logo {
  margin-bottom: 8px;
}

/* Other */
.back-to-top {
  position: fixed;
  right: 1vw;
  bottom: 1vw;
}

.page-header {
  border-color: #DDDDDD;
}

.pagination {
  padding: 10px 0 10px 0;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.page-number {
  font-size: 18px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.page-number:not(:first-child) {
  margin: 0 10px 0 10px;
}
