:root {
  --blueberry: #6b7a8f;
  --apricot: #f7882f;
  --apricot-secondary: #d7680f;
  --apricot-tertiary: #b74800;
  --citrus: #f7c331;
  --apple: #dcc7aa;
}

/* Header */
.navbar {
  background: var(--blueberry);
  border-radius: 0px;
  border-width: 0px;
}

.navbar a {
  color: white !important;
}

.navbar ul {
  list-style: none;
}

.navbar-brand {
  font-size:      3em;
  line-height:    1em;
  display:        table;
}

.navbar-brand small {
  font-size: 50%;
}

.navbar-header {
  margin-top: 1em;
}

.navbar-header {
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-radius: 10px;
}

.navbar-nav > li > a {
  font-size: 2em;
}

.navbar-nav > li:hover {
  background: var(--apricot);
  border-radius: 10px;
}

.navbar-nav > li a:focus {
  background: var(--apricot-secondary) !important;
  border-radius: 10px;
}

/* Container */
.container {
  min-height: 600px;
}

/* Footer */
#footer-links {
  padding: 0px;
  list-style: none;
}

/* Other */
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: var(--apricot);
  border-color: var(--apricot);
  color: white !important;
}

.back-to-top:hover {
  background: var(--apricot-secondary);
  border-color: var(--apricot-secondary);
}

.back-to-top:focus {
  background: var(--apricot-tertiary) !important;
  border-color: var(--apricot-tertiary) !important;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.grey-divider {
  color: #cccccc;
  font-weight: normal;
}

a {
  outline: 0;
  text-decoration: none !important;
}

a:not(.nav-link):not(.btn):hover {
  color: var(--apricot);
}

.hidden {
  display: none;
}