.modal .modal-dialog {
  width: 75vw;
}

.modal .close {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  opacity: 1;
}

.modal .close span {
  font-size: 50px;
  color: inherit;
  text-shadow: none;
}

.modal-backdrop {
  background-color: black;
  opacity: .9 !important;
}