.post-preview:not(:nth-child(5n)):not(:last-child):not(li) {
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

li.post-preview:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd; 
}

.post-description p {
  margin: 0px;
}

.post .post-body ul,
.post .post-body ol {
  padding-left: 20px;
}

.post .post-body p,
.post .post-body a,
.post .post-body li {
  font-size: 18px;
}

.post .post-body table li {
  font-size: inherit;
}

.post .post-body img,
.post .post-body img:hover {
  transition: box-shadow 0.25s ease-in-out;
}

.post .post-body img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--apricot);
}
