/* Projects Styling */
.project-preview {
  margin-bottom: 20px;
}

.project-preview,
.project-preview img {
  border-radius: 10px;
}

.project-preview,
.project-preview:hover {
  transition: box-shadow 0.25s ease-in-out;
}

.project-preview:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--apricot);
}

.project-date {
  color: var(--apricot);
}

/* Projects Panel */
#projects-panel {
  border: 1px solid var(--blueberry);
  min-height: 600px;
}

#projects-panel .panel-heading {
  background: var(--blueberry);
  color: white;
}

.project:not(:last-child) {
  margin-bottom: 30px;
}

.project .page-header {
  margin: 0px;
  padding: 0px;
}

.project .page-title {
  margin: 0px;
}

.project .collapse-btn {
  font-size: 1em;
}

.project ul {
  margin: 0;
  list-style: none;
}

.project ul li h4 {
  margin-bottom: 0px;
}

.project h3 {
  margin: 0px;
}

.collapse {
  transition: all 100ms cubic-bezier(1, 0, 0, 1);
}

.no-posts {
  padding-left: 40px;
}