/* Projects Panel */
#projects-panel {
  border: 1px solid var(--blueberry);
  min-height: 600px;
}

#projects-panel .panel-heading {
  background: var(--blueberry);
  color: white;
}

.project:not(:last-child) {
  margin-bottom: 30px;
}

.project .page-header {
  margin: 0px;
  padding: 0px;
}

.project .page-title {
  margin: 0px;
}

.project .collapse-btn {
  font-size: 1em;
}

.project ul {
  margin: 0;
  list-style: none;
}

.project ul li h4 {
  margin-bottom: 0px;
}

.project h3 {
  margin: 0px;
}

.collapse {
  transition: all 100ms cubic-bezier(1, 0, 0, 1);
}

/* Template */
.post-preview:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
