/* Container */
.resume-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.resume-container > div {
  flex: 1 auto;
}

.resume-container h1 {
  font-size: 3.6rem;
}

.resume-container h2 {
  font-size: 3rem;
}

.resume-container h3 {
  font-size: 2.4rem;
}

.resume-container h4 {
  font-size: 2rem;
}

.resume-container p,
.resume-container li {
  margin-top: 0;
  font-size: 1.8rem;
}

.resume-container ul {
  list-style: none;
  padding-left: 2rem;
}

.resume-container ul li:before {
  content: ">";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: -2rem;
}

.resume-container .page-header {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 0;
  border: none;
}

.resume-container .page-header .page-title {
  color: var(--apricot) !important;
  margin: 0;
}

.resume-container .fancy {
  font-family: Georgia, serif !important;
}

.resume-container .light {
  font-weight: 200 !important;
}

.resume-container .heavy {
  font-weight: bolder !important;
}

.resume-container .faded {
  color: #777777 !important;
}

.resume-container .col-xs-1,
.resume-container .col-xs-2,
.resume-container .col-xs-3,
.resume-container .col-xs-4,
.resume-container .col-xs-5,
.resume-container .col-xs-6,
.resume-container .col-xs-7,
.resume-container .col-xs-8,
.resume-container .col-xs-9,
.resume-container .col-xs-10,
.resume-container .col-xs-11,
.resume-container .col-xs-12 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.resume-container .resume-header h1 {
  background: white;
  font-size: 10rem !important;
  font-weight: bolder;
}

.resume-container .resume-header #role {
  font-size: 4rem !important;
}

.resume-container .resume-header .contact-links img {
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 0.5rem;
}

.resume-container .resume-header .contact-links a:nth-child(3),
.resume-container .resume-header .contact-links a:nth-child(4) {
  margin-top: 2rem;
}

.resume-container .resume-header .contact-links h4 {
  margin: 1rem 0;
}

.resume-container .resume-header .filler {
  padding: 1rem 0;
  margin-top: 3rem;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
}

.resume-container .resume-contents {
  flex: 1 70%;
}

.resume-container .resume-right {
  flex: 1 30%;
}

@media print {
  html {
    font-size: 8px !important;
  }

  a, a * {
    color: #337ab7 !important;
  }

  a[href]:after {
    content: "" !important;
  }
}
