<div class="education col-xs-12 p-0">
  <div class="page-header">
    <h1 class="page-title">Education</h1>
  </div>
  <div class="education-section col-xs-12 p-0">
    <h3 id="university" class="section-header fancy heavy p-0 mt-0">College of Charleston</h3>
    <h4 class="light fancy faded">2014 - 2018 | Charleston, SC</h4>
    <p id="major" class="light m-0">Computer Science B.S.</p>
    <p id="minor" class="light">Mathematics Minor</p>
    <p id="majorGPA" class="light m-0">Major GPA: 3.930</p>
    <p id="cumulativeGPA" class="light m-0">Cumulative GPA: 3.966</p>
  </div>
</div>
