<div id="education" class="col-12 col-lg-6 d-flex flex-column p-0">
  <h2 class="text-success mb-4">Education</h2>
  <div class="education-section col-12 d-flex p-0">
    <div id="universityInfo">
      <h4 id="university" class="section-header font-weight-bold">College of Charleston</h4>
      <h6 class="font-weight-light m-0">2014 - 2018 | Charleston, SC</h6>
    </div>
    <div id="degreeInfo" class="col-12 col-md-6 col-lg-12 d-flex flex-column justify-content-end p-0">
      <h6 id="major" class="font-weight-light m-0">B.S. Computer Science</h6>
      <h6 id="minor" class="font-weight-light m-0">Minor in Mathematics</h6>
    </div>
    <div id="GPAInfo" class="col-12 col-md-6 col-lg-12 d-flex flex-column justify-content-end p-0">
      <h6 id="majorGPA" class="font-weight-light m-0">Major GPA: 3.935</h6>
      <h6 id="cumulativeGPA" class="font-weight-light m-0">Cumulative GPA: 3.970</h6>
    </div>
  </div>
</div>
