<div id="experience" class="experience col-12 p-0">
  <h2 class="text-success mb-4">Relevant Experience</h2>
  <div class="experience-section d-flex flex-row flex-wrap p-0">
    <div class="job-container col-12 col-xl-9 pl-0">
      <h4 class="job-title section-header font-weight-bold">
        Full-Stack Developer
        <br class="d-lg-none"/>
        <span class="job-employer text-muted font-weight-light">@ Medical University of SC</span>
      </h4>
    </div>
    <div class="dates-container d-flex align-items-center col-12 col-xl-3">
      <h6 class="font-weight-bold">June 2015 - Aug 2018</h6>
    </div>
    <div class="location-container col-12 col-xl-9 pl-0">
      <h6 class="job-location text-muted font-weight-light">
        <i class="fal fa-map-marker-alt"></i>Charleston, SC
      </h6>
      <ul class="mb-4">
        <li class="d-flex"><h6 class="w-100 font-weight-light">Collaborated with small team of developers to build open-source Ruby on Rails applications used in conducting clinical research studies.</h6></li>
        <li class="d-flex"><h6 class="w-100 font-weight-light">Helped design and coordinate several new modules for existing applications.</h6></li>
      </ul>
    </div>
  </div>
  <div class="experience-section d-flex flex-row flex-wrap p-0">
    <div class="job-container col-12 col-xl-9 pl-0">
      <h4 class="job-title section-header font-weight-bold">
        Full-Stack Developer, Scrum Master
        <br class="d-lg-none"/>
        <span class="job-employer text-muted font-weight-light">@ Bosch</span>
      </h4>
    </div>
    <div class="dates-container d-flex align-items-center col-12 col-xl-3 pr-0">
      <h6 class="font-weight-bold">Jan - May 2018</h6>
    </div>
    <div class="location-container col-12 col-xl-9 pl-0">
      <h6 class="job-location text-muted font-weight-light">
        <i class="fal fa-map-marker-alt"></i>Charleston, SC
      </h6>
      <ul class="mb-4">
        <li class="d-flex"><h6 class="w-100 font-weight-light">Collaborated with small team of students and Bosch employees to design a Ruby on Rails application for managing production targets.</h6></li>
        <li class="d-flex"><h6 class="w-100 font-weight-light">Alternated roles as Scrum Master to plan sprints and manage team progress.</h6></li>
      </ul>
    </div>
  </div>
</div>
