<div id="experience" class="experience col-12 p-0">
  <h2 class="text-success mb-2">Relevant Experience</h2>
  {% for employment in site.experience %}
    <div class="experience-section d-flex flex-row flex-wrap p-0">
      <div class="job-container col-12 col-xl-9 pl-0">
        <h4 class="job-title resume-section-header font-weight-bold mb-3">
          {{ employment[1].role }}
          <br class="d-lg-none"/>
          <span class="job-employer text-muted font-weight-light">{{ employment[1].employer }}</span>
        </h4>
      </div>
      <div class="dates-container d-flex align-items-center col-12 col-xl-3">
        <h6 class="font-weight-bold mb-3">{{ employment[1].dates }}</h6>
      </div>
      <div class="location-container col-12 col-xl-9 pl-0">
        <h6 class="job-location text-muted font-weight-light mb-3">
          <i class="fal fa-map-marker-alt"></i>{{ employment[1].location }}
        </h6>
        <ul>
          {% for task in employment[1].tasks %}
            <li>
              <h6 class="w-100 font-weight-light mb-3">{{ task }}</h6>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
