<div id="resumeHeader" class="d-flex flex-row flex-wrap p-0">
  <div id="resumeTitle" class="col-12 col-lg-6 d-flex flex-row flex-wrap">
    <h1 id="name" class="col-12 m-0 p-0">
      <span id="firstName">Kyle</span>
      <span id="lastName" class="text-success">Glick</span>
    </h1>
    <h4 id="role" class="col-12 align-self-end font-weight-light m-0 p-0">Full-Stack Software Engineer</h4>
  </div>
  <div id="contactLinks" class="col-12 col-lg-6 d-flex flex-row flex-wrap">
    <a href="tel:8157570118" target="_blank" class="col-12 col-md-6 d-flex align-items-center p-0 mt-4 ignore-link">
      <i class="fal fa-phone"></i>
      <h6 id="phone" class="font-weight-light m-0">(815) 757-0118</h6>
    </a>
    <a href="mailto:kyleglick99@gmail.com" target="_blank" class="col-12 col-md-6 d-flex align-items-center p-0 mt-4 ignore-link">
      <i class="fal fa-envelope"></i>
      <h6 id="email" class="font-weight-light m-0">kyleglick99@gmail.com</h6>
    </a>
    <a href="https://kyle-glick.github.io" target="_blank" class="col-12 col-md-6 d-flex align-items-center p-0 mt-4 ignore-link">
      <i class="fal fa-globe"></i>
      <h6 id="website" class="font-weight-light m-0">kyle-glick.github.io</h6>
    </a>
    <a href="https://github.com/kyle-glick" target="_blank" class="col-12 col-md-6 d-flex align-items-center p-0 mt-4 ignore-link">
      <i class="fab fa-github"></i>
      <h6 id="github" class="font-weight-light m-0">github.com/kyle-glick</h6>
    </a>
  </div>
  <div id="headerSpacer" class="w-100 p-3 my-5"></div>
</div>
