<div class="resume-header col-xs-12 d-flex flex-row px-0">
  <div class="resume-title col-xs-7 d-flex flex-row p-0">
    <h1 id="name" class="col-xs-12 fancy m-0 p-0">
      <span id="firstName">Kyle</span>
      <span id="lastName" class="text-orange">Glick</span>
    </h1>
    <h4 id="role" class="align-self-end light mb-0">Full Stack Software Engineer</h4>
  </div>
  <div class="contact-links col-xs-5 pr-0">
    <a href="tel:8157570118" target="_blank" class="col-xs-6 glowing-logo d-flex align-items-center flex-column p-0">
      <img src="/assets/images/phone.png">
      <h4 id="phone" class="light m-0">(815) 757-0118</h4>
    </a>
    <a href="mailto:kyleglick99@gmail.com" target="_blank" class="col-xs-6 glowing-logo d-flex align-items-center flex-column p-0">
      <img src="/assets/images/email.png">
      <h4 id="email" class="light m-0">kyleglick99@gmail.com</h4>
    </a>
    <a href="https://kyle-glick.github.io" target="_blank" class="col-xs-6 glowing-logo d-flex align-items-center flex-column p-0">
      <img src="/assets/images/website.png">
      <h4 id="website" class="light m-0">kyle-glick.github.io</h4>
    </a>
    <a href="https://github.com/kyle-glick" target="_blank" class="col-xs-6 glowing-logo d-flex align-items-center flex-column p-0">
      <img src="/assets/images/GitHub-Mark-64px.png">
      <h4 id="github" class="light m-0">github.com/kyle-glick</h4>
    </a>
  </div>
  <div class="filler col-xs-12 px-0"></div>
</div>
