<div id="honors" class="col-12 col-lg-6 d-flex flex-column p-0">
  <h2 class="text-success mb-4">Honors</h2>
  <ul class="d-flex flex-column m-0">
    <li class="col-12 p-0">
      <div class="honors-section w-100 d-flex flex-row">
        <div class="honor col-10 col-md-8 col-lg-10 col-xl-9 pl-0">
          <h6 class="font-weight-light m-0">Computer Science Outstanding Student Award Recipient</h6>
        </div>
        <div class="honor-date col-2 col-md-4 col-lg-2 col-xl-3 p-0">
          <h6 class="text-right font-weight-bold">2018</h6>
        </div>
      </div>
    </li>
    <li class="col-12 p-0">
      <div class="honors-section w-100 d-flex flex-row">
        <div class="honor col-10 col-md-8 col-lg-10 col-xl-9 pl-0">
          <h6 class="font-weight-light m-0">Phi Kappa Phi Honor <br/>Society Inductee</h6>
        </div>
        <div class="honor-date col-2 col-md-4 col-lg-2 col-xl-3 p-0">
          <h6 class="text-right font-weight-bold">2018</h6>
        </div>
      </div>
    </li>
    <li class="col-12 p-0">
      <div class="honors-section w-100 d-flex flex-row">
        <div class="honor col-10 col-md-8 col-lg-10 col-xl-9 pl-0">
          <h6 class="font-weight-light m-0">Upsilon Pi Epsilon Computing Honor Society Inductee</h6>
        </div>
        <div class="honor-date col-2 col-md-4 col-lg-2 col-xl-3 p-0">
          <h6 class="text-right font-weight-bold">2017</h6>
        </div>
      </div>
    </li>
    <li class="col-12 p-0">
      <div class="honors-section w-100 d-flex flex-row">
        <div class="honor col-10 col-md-8 col-lg-10 col-xl-9 pl-0">
          <h6 class="font-weight-light m-0">Crosby Computer Science Endowment Award Recipient</h6>
        </div>
        <div class="honor-date col-2 col-md-4 col-lg-2 col-xl-3 p-0">
          <h6 class="text-right font-weight-bold">2015</h6>
        </div>
      </div>
    </li>
  </ul>
</div>
