<div class="projects col-xs-12 p-0">
  <div class="page-header">
    <h1 class="page-title">Projects</h1>
  </div>
  <div class="projects-section col-xs-12 p-0">
    <h3 class="section-header fancy heavy p-0 mt-0">Bosch Target Charts</h3>
    <h4 class="light fancy faded">Spring 2018 | Capstone</h4>
    <ul>
      <li class="light">Collabored with a small team of students and Bosch employees to design and build a Ruby on Rails application to track business and production targets.</li>
      <li class="light">Rotated role as Scrum Master to plan sprints and write stories.</lI>
    </ul>
  </div>
  <div class="projects-section col-xs-12 p-0">
    <h3 class="section-header fancy heavy p-0 mt-0">MovEDB</h3>
    <h4 class="light fancy faded">Fall 2017 | Database Concepts</h4>
    <ul>
      <li class="light">An example website built with PHP and SQL to manage movie theaters and purchase movie tickets.</li>
    </ul>
  </div>
  <div class="projects-section col-xs-12 p-0">
    <h3 class="section-header fancy heavy p-0 mt-0">Canvas LMS Testing Framework</h3>
    <h4 class="light fancy faded">Fall 2017 | Software Engineering</h4>
    <ul>
      <li class="light">Worked with a small team to design and build an automated testing framework and example unit tests for an open-source HFOSS project.</li>
    </ul>
  </div>
  <div class="projects-section col-xs-12 p-0">
    <h3 class="section-header fancy heavy p-0 mt-0">Dual-Alarm AM/FM Radio Clock</h3>
    <h4 class="light fancy faded">Spring 2017 | Software Architecture & Design</h4>
    <ul>
      <li class="light">Worked with a small team to design, implement, and test a multi-threaded alarm clock radio using JavaFX.</li>
    </ul>
  </div>
</div>
