<div class="resume-container col-xs-12 no-padding">
  <div class="col-xs-12 objective hidden-print">
    <h3>
      <em class="text-orange">Objective:</em>
      <small>College senior seeking a full time position in Software Engineering upon graduation in May 2018. Interested in Web Development, UI Design, and Software & Systems Design.</small>
    </h3>
  </div>
  <div class="container-fluid width-30 no-padding resume-left">
    <div class="resume-header col-xs-12 no-padding">
      <h1 class="text-center">
        <span>Kyle</span>
        <span class="text-orange">Glick</span>
      </h1>
    </div>
    <div class="contact-links col-xs-12 no-padding">
      <a href="tel:8157570118" target="_blank" class="col-xs-12 no-padding glowing-logo">
        <div class="col-xs-2 no-padding text-right">
          <span></span>
          <img src="/assets/images/phone_32px.png">
        </div>
        <div class="col-xs-10">
          <h4>(815) 757-0118</h4>
        </div>
      </a>
      <a href="https://www.google.com/maps/place/Charleston,+SC/@32.8209674,-80.1105629,11z/data=!3m1!4b1!4m5!3m4!1s0x88fe7a42dca82477:0x35faf7e0aee1ec6b!8m2!3d32.7764749!4d-79.9310512" target="_blank" class="col-xs-12 no-padding glowing-logo">
        <div class="col-xs-2 no-padding text-right">
          <span></span>
          <img src="/assets/images/waypoint_32px.png">
        </div>
        <div class="col-xs-10">
          <h4>Charleston, SC</h4>
        </div>
      </a>
      <a href="mailto:kyleglick99@gmail.com" target="_blank" class="col-xs-12 no-padding glowing-logo">
        <div class="col-xs-2 no-padding text-right">
          <span></span>
          <img src="/assets/images/logo_gmail_32px.png">
        </div>
        <div class="col-xs-10">
          <h4>kyleglick99@gmail.com</h4>
        </div>
      </a>
      <a href="https://github.com/kyle-glick" target="_blank" class="col-xs-12 no-padding glowing-logo">
        <div class="col-xs-2 no-padding text-right">
          <span></span>
          <img src="/assets/images/GitHub-Mark-32px.png">
        </div>
        <div class="col-xs-10">
          <h4>kyle-glick</h4>
        </div>
      </a>
      <a href="https://kyle-glick.github.io" target="_blank" class="col-xs-12 no-padding glowing-logo">
        <div class="col-xs-2 no-padding text-right">
          <span></span>
          <img src="/assets/images/website_32px.png">
        </div>
        <div class="col-xs-10">
          <h4>kyle-glick.github.io</h4>
        </div>
      </a>
    </div>
    <div class="languages col-xs-12">
      <div class="page-header">
        <h1 class="page-title">Languages</h1>
      </div>
      <div class="col-xs-7 no-padding">
        <h4 class="col-xs-12 no-padding">Ruby</h4>
        <h4 class="col-xs-12 no-padding">HTML, HAML</h4>
        <h4 class="col-xs-12 no-padding">CSS, SCSS</h4>
        <h4 class="col-xs-12 no-padding">JavaScript</h4>
      </div>
      <div class="col-xs-5 no-padding familiarity">
        <h4 class="col-xs-12 no-padding text-right">Commercial Experience</h4>
      </div>
      <hr class="col-xs-12 no-padding">
      <div class="col-xs-7 no-padding">
        <h4 class="col-xs-12 no-padding">Java</h4>
        <h4 class="col-xs-12 no-padding">SQL</h4>
        <h4 class="col-xs-12 no-padding">Python</h4>
        <h4 class="col-xs-12 no-padding">PHP</h4>
        <h4 class="col-xs-12 no-padding">Bash</h4>
        <h4 class="col-xs-12 no-padding">C</h4>
      </div>
      <div class="col-xs-5 no-padding familiarity">
        <h4 class="col-xs-12 no-padding text-right">Educational Experience</h4>
      </div>
    </div>
    <div class="tools col-xs-12">
      <div class="page-header">
        <h1 class="page-title">Tools</h1>
      </div>
      <h4 class="col-xs-12 no-padding">Git</h4>
      <h4 class="col-xs-12 no-padding">PivotalTracker</h4>
      <h4 class="col-xs-12 no-padding">MySQL / Sequel Pro</h4>
      <h4 class="col-xs-12 no-padding">UML</h4>
      <h4 class="col-xs-12 no-padding">LaTeX</h4>
    </div>
    <div class="frameworks col-xs-12">
      <div class="page-header">
        <h1 class="page-title">Frameworks</h1>
      </div>
      <h4 class="col-xs-12 no-padding">Ruby on Rails</h4>
      <h4 class="col-xs-12 no-padding">Bootstrap</h4>
    </div>
  </div>
  <div class="container-fluid width-70 resume-contents">
    <div class="education col-xs-12 no-padding">
      <div class="page-header">
        <h1 class="page-title">Education</h1>
      </div>
      <div class="col-xs-8 no-padding">
        <h4 class="school-info">College of Charleston, Charleston SC</h4>
        <div class="col-xs-12">
          <h4>
            Bachelor of Science in Computer Science
            <br>
            Minor in Mathematics
          </h4>
        </div>
      </div>
      <div class="col-xs-4 no-padding text-right">
        <h4 class="school-info">May 2018</h4>
        <img src="/assets/images/cofc_logo.jpg" class="cofc-logo">
      </div>
      <div class="col-xs-12">
        <h4 class="gpa-information">Major GPA: 3.912 | Cumulative GPA: 3.96</h4>
      </div>
    </div>
    <div class="relevant-coursework col-xs-12 no-padding">
      <div class="page-header">
        <h1 class="page-title">Relevant Coursework</h1>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-8 no-padding">
          <h4 class="course-list">Data Structures & Algorithms, Advanced Algorithms, Programming Language Concepts, Operating Systems</h4>
        </div>
        <div class="col-xs-4 no-padding text-right">
          <h4>General Knowledge</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-8 no-padding">
          <h4 class="course-list">Software Architecture & Design, Software Engineering</h4>
        </div>
        <div class="col-xs-4 no-padding text-right">
          <h4>Software Engineering</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-8 no-padding">
          <h4 class="course-list">Database Concepts, Principles of Artificial Intelligence</h4>
        </div>
        <div class="col-xs-4 no-padding text-right">
          <h4>Other Concepts</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-8 no-padding">
          <h4 class="course-list">Calculus, Linear Algebra, Discrete Structures, Abstract Mathematics, Statistics</h4>
        </div>
        <div class="col-xs-4 no-padding text-right">
          <h4>Mathematics</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-8 no-padding">
          <h4 class="course-list">
            Dual-Alarm Am/FM Clock Radio
            <ul>
              <li>3 Members - Designed, implemented, and tested multi-threaded alarm clock radio using JavaFX</li>
              <li><a href="https://github.com/CSCI-360-01-2017/360-Snoozin" target="_blank">https://github.com/CSCI-360-01-2017/360-Snoozin</a></li>
            </ul>
          </h4>
          <h4 class="course-list">
            Canvas LMS Automated Testing Framework
            <ul>
              <li>3 Members - Designed an automated Bash script to run Ruby unit tests for an open-source HFOSS project
            </ul>
          </h4>
        </div>
        <div class="col-xs-4 no-padding text-right">
          <h4>Team Projects</h4>
        </div>
      </div>
    </div>
    <div class="experience col-xs-12 no-padding">
      <div class="page-header">
        <h1 class="page-title">Experience</h1>
      </div>
      <div class="col-xs-12 no-padding experience-opportunity">
        <div class="col-xs-9 no-padding">
          <h4 class="employment">
            <span>Web Developer Intern -&nbsp;</span>
            <span class="experience-entity">Medical University of South Carolina</span>
          </h4>
        </div>
        <div class="col-xs-3 no-padding text-right">
          <h4>June 2015 - Present</h4>
        </div>
        <div class="col-xs-12 no-padding">
          <ul>
            <li>Built and maintained Ruby on Rails web applications for managing medical research</li>
            <li>Full-Stack web development using Ruby, HTML, Javascript, and JSON</li>
            <li>Developed integrated unit and feature tests using RSpec and Capybara Webkit</li>
            <li>Coordinated Bootstrap UI overhauls and code refactors of various applications</li>
            <li>Designed a logic-driven, real-time survey module to replace un-maintained libraries</li>
            <li>Created a system for managing application configurations in real time</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="involvement col-xs-12 no-padding">
      <div class="page-header">
        <h1 class="page-title">Involvement</h1>
      </div>
      <div class="col-xs-12 no-padding activity">
        <div class="col-xs-9 no-padding">
          <h4 class="activity-name">CofC REACH Program - Game Programming Tutor</h4>
        </div>
        <div class="col-xs-3 no-padding text-right">
          <h4>Spring 2015</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding activity">
        <div class="col-xs-9 no-padding">
          <h4 class="activity-name">CofC Association for Computing Machinery - Web Master</h4>
        </div>
        <div class="col-xs-3 no-padding text-right">
          <h4>2017 - Present</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding activity">
        <div class="col-xs-9 no-padding">
          <h4 class="activity-name">CofC Upsilon Pi Epsilon Computing Honor Society - Member</h4>
        </div>
        <div class="col-xs-3 no-padding text-right">
          <h4>2017 - Present</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding activity">
        <div class="col-xs-9 no-padding">
          <h4 class="activity-name">CofC Wind Ensemble - Member</h4>
        </div>
        <div class="col-xs-3 no-padding text-right">
          <h4>2014 - Present</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding activity">
        <div class="col-xs-9 no-padding">
          <h4 class="activity-name">CofC Pep Band - Member</h4>
        </div>
        <div class="col-xs-3 no-padding text-right">
          <h4>2014 - Present</h4>
        </div>
      </div>
    </div>
    <div class="honors col-xs-12 no-padding">
      <div class="page-header">
        <h1 class="page-title">Honors & Awards</h1>
      </div>
      <div class="col-xs-12 no-padding honor">
        <div class="col-xs-9 no-padding">
          <h4 class="honor-name">CofC CS Leading Edge Scholar</h4>
        </div>
        <div class="col-xs-3 no-padding text-right">
          <h4>2014 - Present</h4>
        </div>
      </div>
      <div class="col-xs-12 no-padding honor">
        <div class="col-xs-9 no-padding">
          <h4 class="honor-name">Crosby Computer Science Endowment Award</h4>
        </div>
        <div class="col-xs-3 no-padding text-right">
          <h4>Spring 2015</h4>
        </div>
      </div>
    </div>
  </div>
</div>
