---
layout: application
---

<div id="blog">
  <section class="main border-0">
    <div class="container">
      <div class="col-12 section-header">
        <h3 class="text-center m-0">My Blogs</h3>
      </div>
      <div class="col-12 d-flex flex-row flex-wrap section-content">
        {% for blog in site.blog %}
          {% assign id=blog[0] %}
          {% assign name=blog[1].name %}
          {% include shared/cover.html id=id name=name klass='blog' %}
        {% endfor %}
        <div class="col-xl-4 col-md-6 blog-cover-container cover-container mb-5 fade-in">
          <div class="card align-items-center justify-content-center h-100 text-muted">
            <h6 class="mt-5 mb-0">MORE COMING SOON</h6>
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
