#about {
  #educationContainer {
    & * {
      color: #670000;
    }

    #educationLogoContainer {
      width: 12%;
    }
  }

  #skills {
    display: flex;
    flex-wrap: wrap;

    .skill {
      display: flex;
      justify-content: space-between;
      color: theme-color('text');
      cursor: pointer;
      transition: background var(--animation-duration) linear;

      span {
        transition: font-weight var(--animation-duration) linear;
      }

      .proficiency {
        svg {
          transition: margin var(--animation-duration) linear;
        }
      }

      &:hover {
        background: theme-color-level('background', 0.5);

        span {
          font-weight: normal !important;
        }

        .proficiency {
          svg {
            margin-left: 1px;
          }
        }
      }
    }
  }
}
