.social-links-aside, .email-aside {
  height: 100px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;

  .social-link, .email {
    &:hover {
      border-color: theme-color('pop') !important;
      background: rgba(theme-color('pop'), 0.1);
    }
  }
}

.social-links-aside {
  left: 0;

  .social-links {
    padding: 0;
    margin: 0;

    .social-link-container {
      .social-link {
        width: 42px;
        height: 42px;
        border: 1px solid theme-color('light');
        border-radius: 100%;
        color: theme-color('light');
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: theme-color('pop');
          transform: scale(1.15, 1.15);
        }
      }
    }
  }
}

.email-aside {
  right: 0;

  .email-container {
    display: grid;

    .email {
      padding: 8px 8px 8px 10px;
      border: 1px solid theme-color('light');
      border-radius: 10px;
      color: theme-color('light');
      letter-spacing: 2px;
      font-weight: normal;

      &:hover {
        color: theme-color('pop');
        transform: scale(1.05, 1.05);
      }
    }
  }
}
