#blog {
  .header-container, .blog-info-container, .post-container {
    padding: 0;
  }

  .fa-ellipsis-h {
    font-size: 8rem;
  }

  .post {
    &:not(:last-child) {
      border-bottom: 1px solid #dee2e6;
    }
  }
}

@include media-breakpoint-up(lg) {
  #blog {
    .header-container, .blog-cover-container, .blog-info-container, .post-container {
      padding: inherit;
    }
  }
}
