a {
  color: theme-color('pop');
  text-decoration: none !important;
  transition: var(--animation-duration) ease-in-out;

  &:hover, &:focus, &:active {
    color: theme-color-level('pop', 4);
  }
}

ul, ol {
  &.unstyled {
    list-style: none;
  }
}

a, p, span, button {
  font-weight: lighter;
}