* {
  font-weight: lighter !important;
}

a {
  color: theme-color('pop');
  text-decoration: none !important;
  transition: var(--animation-duration) ease-in-out;

  &:hover, &:focus, &:active {
    color: theme-color-level('pop', 4);
  }
}

ul, ol {
  &.unstyled {
    list-style: none;
  }
}

p {
  color: theme-color('neutral');
}

hr {
  border-top-color: theme-color('neutral');
  margin: 1.5rem 0;
}
