* {
  font-weight: lighter !important;
}

a {
  color: theme-color('pop');
  text-decoration: none !important;
  transition: all var(--animation-duration) ease-in-out;

  &:hover, &:focus, &:active {
    color: theme-color-level('pop', 4);
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: theme-color('pop');
}

p {
  color: theme-color('text');
}

hr {
  border-top: 2px solid rgba(theme-color('text'), 0.25);
}
