.cover-container {
  padding: 0;

  .card {
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .cover-overlay {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    .fa-search-plus {
      top: 22.5%;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0;
      transition: all 0.25s ease-in-out;
    }

    .cover-info {
      bottom: -50%;
      opacity: 0;
      transition: all 0.25s ease-in-out;
    }

    &:hover {
      .cover-overlay {
        opacity: 0.85;
      }

      .fa-search-plus {
        top: 45%;
        font-size: 4rem;
        opacity: 1;
      }

      .cover-info {
        bottom: 0;
        opacity: 1;
      }

      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: all 0.25s ease-in-out;
      transform: scale(1);
    }
  }
}

@include media-breakpoint-up(lg) {
  .cover-container {
    padding: 0 1.5rem;
  }
}

@include media-breakpoint-only(md) {
  .cover-container {
    &:nth-child(even) {
      padding-right: inherit;
    }

    &:nth-child(odd) {
      padding-left: inherit;
    }
  }
}
