a {
  color: theme-color('info');
  text-decoration: none !important;
  outline: 0 !important;
  transition: color var(--animation-duration) linear;

  &:hover {
    color: theme-color('primary');
  }
}

button {
  outline: none !important;
}

p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, ul, ol, table, .table, figure {
  margin-bottom: 2.5rem;
}

p, li, td, figcaption {
  line-height: 2.8rem;
  font-weight: 300 !important;
}

p, li, td, figcaption, small {
  color: $text-color;
}

p, a, li, th, td, span, figcaption {
  font-size: 18px;
  font-size: 1.8rem;
}

strong {
  font-weight: 700;
}

blockquote {
  padding: 0 2rem;
  border-left: 0.5rem solid lighten($text-color-alt, 25%);
  color: $text-color-alt;

  &> * {
    color: $text-color-alt !important;
  }
}

ul {
  list-style: none;

  &:not(.list-unstyled) {
    li::before {
      content: ">";
      display: inline-table;
      width: 20px;
      height: 2rem;
      margin-left: -20px;
      text-align: center;
      line-height: 2.5rem;
    }
  }

  li {
    display: flex;
  }
}

ul, ol {
  &:not(.list-unstyled) {
    padding-left: 20px;
  }
}

ol {
  li {
    padding-left: 10px;
  }
}

h1, .h1 {
  font-size: 48px;
  font-size: 4.8rem;
}

h2, .h2 {
  font-size: 36px;
  font-size: 3.6rem;
}

h3, .h3 {
  font-size: 28px;
  font-size: 2.8rem;
}

h4, .h4 {
  font-size: 24px;
  font-size: 2.4rem;
}

h5, .h5 {
  font-size: 20px;
  font-size: 2rem;
}

h6, .h6 {
  font-size: 18px;
  font-size: 1.8rem;
}

@include media-breakpoint-up(md) {
  ul {
    &:not(.list-unstyled) {
      li::before {
        width: 40px;
        margin-left: -40px;
      }
    }
  }

  ul, ol {
    &:not(.list-unstyled) {
      padding-left: 40px;
    }
  }

  h1, .h1 {
    font-size: 70px;
    font-size: 7rem;
  }

  h2, .h2 {
    font-size: 52.5px;
    font-size: 5.25rem;
  }

  h3, .h3 {
    font-size: 41px;
    font-size: 4.1rem;
  }

  h4, .h4 {
    font-size: 35px;
    font-size: 3.5rem;
  }

  h5, .h5 {
    font-size: 29px;
    font-size: 2.9rem;
  }

  h6, .h6, .btn {
    font-size: 23.5px;
    font-size: 2.35rem;
  }
}
