#experience {
  .btn.btn-employer {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 2px solid theme-color('text');
    color: theme-color('text');
    text-align: left;

    &.active, &:hover {
      border-left: 2px solid theme-color('pop');
      background: rgba(theme-color('pop'), 0.1);
      color: theme-color('pop');
    }
  }

  #employerCarousel {
    ul {
      padding-left: 1.5rem;
      list-style: none;

      li {
        position: relative;

        &::before {
          content: "\2023";
          position: absolute;
          top: -.5em;
          left: -1rem;
          color: theme-color('pop');
          font-size: 2em;
        }
      }
    }
  }
}