#footer {
  padding: 40px 5% 40px 5%;
  bottom: 0;
  background: theme-color-level('light', 0.25);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  p, a {
    font-size: 16px;
    font-size: 1.6rem;
  }

  .footer-content {
    #socialLinks {
      li {
        #githubLink {
          color: black;
        }

        #linkedinLink {
          color: #0077b5;
        }

        #emailLink {
          color: #d14836;
        }

        a {
          transition: 0.25s opacity linear;

          svg {
            height: 32px;
            width: 32px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #footer {
    #socialLinksContainer {
      #socialLinks {
        justify-content: flex-end;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #footer {
    .footer-content {
      justify-content: center;
      padding: 0;

      #socialLinks {
        justify-content: space-around;
      }

      #socialLinks, #navLinks {
        margin-bottom: $spacer * 2 !important;
      }
    }    
  }
}
