#siteFooter {
  height: 100px;
  width: 100%;
  bottom: 0;
  background: theme-color('dark');
  position: absolute;
  display: flex;
  align-items: center;

  .container-fluid {
    display: flex;
    justify-content: center;

    a:not(:hover):not(:focus):not(:active) {
      color: theme-color('light');
    }
  }
}
