#home {
  section.main {
    .social-links {
      svg {
        height: calc(var(--icon-size) + 16px) !important;
        width: calc(var(--icon-size) + 16px) !important;
      }
    }

    #greetingImageContainer {
      #greetingImage {
        width: 50%;
        border-radius: 100%;
      }
    }
  }

  #experienceSection {
    .employer-logo {
      img {
        width: 100%;
        position: relative;

        &#muscLogo {
          top: -1.25rem;
        }

        &#boschLogo {
          top: -1rem;
        }
      }
    }

    .employer-info {
      padding: 0;
    }
  }

  #projectsSection {
    .project {
      &:not(:last-child) {
        padding-bottom: $spacer * 5;
        margin-bottom: $spacer * 5;
        border-bottom: 1px solid #ddd;
      }

      .tags {
        .tag {
          font-size: 1.2rem;
        }
      }

      .links {
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  #home {
    #experienceSection {
      .role {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #home {
    #experienceSection {
      .employer-logo {
        img {
          &#muscLogo {
            top: -2rem;
          }

          &#boschLogo {
            top: -1.5rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #home {
    #experienceSection {
      .employer-logo {
        padding-right: 0;

        img {
          &#muscLogo {
            top: -1.75rem;
          }

          &#boschLogo {
            top: -1.5rem;
          }
        }
      }

      .employer-info {
        padding: inherit;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #home {
    section.main {
      #greetingImageContainer {
        margin-left: percentage(1/12);

        #greetingImage {
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #home {
    #experienceSection {
      .employer-logo {
        img {
          &#muscLogo {
            top: -2.5rem;
          }

          &#boschLogo {
            top: -2rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #home {
    #projectsSection {
      .project {
        .project-preview {
          margin-bottom: $spacer * 5;
        }
      }
    }
  }
}