#home {
  section {
    .section-title {
      padding: 0;
      margin-bottom: $spacer * 2.5;
      text-align: center;
    }

    .section-content {
      padding: 0;
    }

    .subsection {
      .subsection-title {
        border-bottom: 1px solid black;
        padding-bottom: $spacer;
        text-align: center;
      }
    }
  }

  section.main {
    #greetingContainer {
      text-align: center;

      #name span {
        font-size: 6rem;
      }

      #intro {
        font-size: 3rem;
      }
    }

    #greetingImageContainer {
      #greetingImage {
        width: 50%;
        border-radius: 100%;
      }
    }
  }

  #experienceSection {
    .employer-logo {
      img {
        width: 100%;
        position: relative;

        &#muscLogo {
          top: -1.25rem;
        }

        &#boschLogo {
          top: -1rem;
        }
      }
    }

    .employer-info {
      padding: 0;

      .role {
        margin-bottom: $spacer * .5;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #home {
    #experienceSection {
      .employer-logo {
        img {
          &#muscLogo {
            top: -2.25rem;
          }

          &#boschLogo {
            top: -1.75rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #home {
    section {
      .subsection {
        .subsection-title {
          text-align: left;
        }
      }
    }

    section.main {
      #greetingContainer {
        #name span {
          font-size: 9rem;
        }
      }
    }

    #experienceSection {
      .employer-logo {
        padding-right: 0;

        img {
          &#muscLogo {
            top: -1.75rem;
          }

          &#boschLogo {
            top: -1.5rem;
          }
        }
      }

      .employer-info {
        padding: inherit;
      }

      .dates-employed {
        text-align: right;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #home {
    section {
      .section-title {
        padding: inherit;
        margin-bottom: 0;
        text-align: left;
      }

      .section-content {
        padding: inherit;
      }
    }

    section.main {
      #greetingContainer {
        justify-content: center;
        text-align: left;
      }

      #greetingImageContainer {
        margin-left: percentage(1/12);

        #greetingImage {
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #home {
    section.main {
      #greetingContainer {
        #name span {
          font-size: 10rem;
        }

        #intro {
          font-size: 3.6rem;
        }
      }
    }

    #experienceSection {
      .employer-logo {
        img {
          &#muscLogo {
            top: -2.5rem;
          }

          &#boschLogo {
            top: -2rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-only(md) {
  #home {
    #skillsSection {
      .subsection {
        &:nth-child(3), &:nth-child(4) {
          .subsection-title, .subsection-content {
            text-align: right;
          }
        }
      }
    }
  }
}
