section {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;

  &:nth-child(n + 2) {
    background: white;
  }

  &:nth-child(2n + 3) {
    background: theme-color('background');
  }

  .section-container {
    padding: calc(80px + 3rem) 170px 80px 170px;
    flex: 1;
    position: relative;
  }

  .section-title-container {
    .section-title {
      @extend .display-4;
      width: 100%;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;

      hr {
        flex: 1 1 auto;
        margin-left: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  section {
    .section-container {
      padding: calc(100px + 3rem) 1.5rem 100px 1.5rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  section {
    .section-container {
      padding: calc(100px + 3rem) 90px 100px 90px;
    }
  }
}

@include media-breakpoint-up(xl) {
  section {
    .section-container {
      padding: calc(100px + 3rem) 170px 100px 170px;
    }
  }
}

@media (max-width: 2560px) {
  .section-container {
    max-width: 1440px;
  }  
}

@media (max-width: 3840px) {
  .section-container {
    .max-width: 2898px;
  }
}
