section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column;

  &:nth-child(n + 2) {
    background: theme-color('background');
  }

  &:nth-child(2n + 3) {
    background: white;
  }

  .section-container {
    padding: calc(80px + 3rem) 170px 80px 170px;
    flex: 1;
    position: relative;
  }

  .section-title-container {
    .section-title {
      @extend .display-4;
      width: 100%;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }

  .section-content-container {
  }

  p, a {
    font-size: 20px;
  }
}
