section {
  padding-top: var(--section-spacer);
  padding-bottom: var(--section-spacer);
  border-bottom: 1px solid #ddd;

  &:nth-child(odd) {
    background: white;
    box-shadow: inset 0px 30px 30px -30px rgba(0, 0, 0, 0.05);
  }

  &:nth-child(even) {
    background: theme-color('light');
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .section-header {
      padding: 0;
      margin-bottom: var(--section-spacer);
      text-align: center;
    }

    .section-content {
      padding: 0;
    }

    .subsection {
      .subsection-title {
        padding-bottom: $spacer;
        margin-bottom: $spacer;
        border-bottom: 1px solid black;
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  section {
    .container {
      .subsection {
        .subsection-title {
          text-align: left;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  section {
    .container {
      .section-header {
        padding: inherit;
        text-align: left;
      }

      .section-content {
        padding: inherit;
      }
    }
  }
}
