#skills {
  .skill {
    display: flex;
    justify-content: space-between;
    transition: background var(--animation-duration) ease-in-out;
    cursor: pointer;

    .proficiency {
      svg {
        transition: margin var(--animation-duration) ease-in-out;
      }
    }
    &:hover {
      background: theme-color-level('background', -1);

      .proficiency {
        svg {
          margin-left: 2px;
        }
      }
    }
  }
}