.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column;
}

.divider {
  &::after {
    content: '';
    width: 100px;
    height: 2px;
    margin: 10px auto;
    background: theme-color('pop');
    display: block;
  }
}