$theme-colors: (
  "pop": #d400ff,
  "light": #fbeaff,
  "neutral": #9c88b0,
  "dark": #08000a,
  "background": #1b0021
);

$body-bg: #08000a;
$body-color: #fbeaff;

:root {
  --animation-duration: 0.25s;
}
