$theme-colors: (
  "pop": #fe5f55,
  "text": #9c88b0,
  "background": #eae7dc,
  "dark": #08000a
);

$body-bg: #08000a;
$body-color: white;

$enable-responsive-font-sizes: true;

:root {
  --animation-duration: 0.25s;
}
