<script defer src="https://pro.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-DtPgXIYsUR6lLmJK14ZNUi11aAoezQtw4ut26Zwy9/6QXHH8W3+gjrRDT+lHiiW4" crossorigin="anonymous"></script>
<script src="{{ page.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ page.baseurl }}/node_modules/popper.js/dist/popper.min.js" type="module"></script>
<script src="{{ page.baseurl }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ page.baseurl }}/assets/javascripts/application.js"></script>
<script src="{{ page.baseurl }}/assets/javascripts/jquery_visible.js"></script>
