<script src="https://kit.fontawesome.com/8f9107d152.js" crossorigin="anonymous"></script>
<script src="{{ page.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ page.baseurl }}/node_modules/popper.js/dist/popper.min.js" type="module"></script>
<script src="{{ page.baseurl }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ page.baseurl }}/assets/javascripts/application.js"></script>
<script src="{{ page.baseurl }}/assets/javascripts/jquery_visible.js"></script>
