<div class="social-links-container">
  <div class="container">
    <ul class="social-links list-inline unstyled">
      <li class="social-link-container list-inline-item">
        <a href="mailto:kaylaglick12@gmail.com" class="social-link">
          <i class="far fa-envelope fa-lg"></i>
        </a>
      </li><li class="social-link-container list-inline-item">
        <a href="https://github.com/kyle-glick" target="blank" class="social-link">
          <i class="fab fa-github-alt fa-lg"></i>
        </a>
      </li><li class="social-link-container list-inline-item">
        <a href="https://linkedin.com/in/kyle-glick-8a9775b6" target="blank" class="social-link">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
