---
layout: default
---

{% assign portfolio = site.portfolio[page.category] %}
{% assign portfolio_title = portfolio['title'] %}
<div class="portfolio-header media">
  <div class="media-left col-sm-4 p-0">
    <img class="portfolio-logo" src="{{ portfolio['logo'] }}" alt="{{ portfolio['title'] }} Logo" style="width:100%;">
  </div>
  <div class="media-body container-fluid">
    <h1 class="media-heading">
      {{ portfolio['title'] }}
      <br>
      <small class="text-orange">{{ portfolio['date'] }}</small>
      <br>
      <small>{{ portfolio['description'] }}</small>
    </h1>
  </div>
</div>

{% assign posts = site.categories[page.category] %}

{% assign show_posts = true %}

{% for post in posts %}
  <div class="post">
    <div class="page-header">
      <h1 class="page-title">
        <a href="{{ site.base_url }}/portfolio/{{ page.category }}/">{{ site.portfolio[page.category]['title'] }}</a>
        <br>
        {{ post.title }}
        <br>
        {% include posts/post_description.html description=post.description %}
        <br>
        {% include posts/post_date.html date=post.date %}
      </h3>
    </div>
    <div class="container-fluid p-0 post-body">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>{{post.content}}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}