---
layout: default
---

{% assign project = site.projects[page.category] %}
{% assign blog = project['title'] %}
<div class="page-header">
  <h1 class="page-title">
    {{ blog }}
    <br>
    <small>{{ project['description'] }}</small>
  </h1>
</div>

{% assign posts = site.categories.[page.category] %}

{% assign show_posts = true %}

{% for post in posts limit:1 %}
  {% assign date = post.date | date: "%Y" %}
  {% if date == "2000" %}
    {% assign show_posts = false %}
  {% endif %}
{% endfor %}

{% if show_posts %}
  <div class="posts">
    {% for post in posts %}
      {% assign index = forloop.index | minus:1 %}
      {% assign page = (index | divided_by:site.per_page) | plus:1 %}
      {% include posts/post_preview.html post=post blog=blog page=page %}
    {% endfor %}
  </div>
{% endif %}

{% if posts.size > site.per_page %}
  <div class="col-sm-12 pagination">
    <button class="btn btn-lg btn-default prev-category-page disabled">
      <span class="glyphicon glyphicon-triangle-left"></span>
    </button>
    <span class="page-number" data-page="1">Page: 1 of {{ posts.size | modulo:site.per_page }} </span>
    <button class="btn btn-lg btn-default next-category-page">
      <span class="glyphicon glyphicon-triangle-right"></span>
    </button>
  </div>
{% endif %}
