---
layout: default
---

{% assign portfolio = site.portfolio[page.category] %}
{% assign portfolio_title = portfolio['title'] %}
<div class="portfolio-header media">
  <div class="media-left col-sm-4 no-padding">
    <img class="portfolio-logo" src="{{ portfolio['logo'] }}" alt="{{ portfolio['title'] }} Logo" style="width:100%;">
  </div>
  <div class="media-body container fluid">
    <h1 class="media-heading">
      {{ portfolio['title'] }}
      <br>
      <small class="portfolio-date">{{ portfolio['date'] }}</small>
      <br>
      <small>{{ portfolio['description'] }}</small>
    </h1>
  </div>
</div>

<div class="portfolio-content">
  {{ content }}
</div>

{% assign posts = site.categories.[page.category] %}

{% assign show_posts = true %}

{% for post in posts limit:1 %}
  {% assign date = post.date | date: "%Y" %}
  {% if date == "2000" %}
    {% assign show_posts = false %}
  {% endif %}
{% endfor %}

{% if show_posts %}
  <div class="page-header">
    <h1 class="page-title">Blog Posts ({{ posts.size }})</h1>
  </div>
  <div class="posts">
    {% for post in posts %}
      {% assign index = forloop.index | minus:1 %}
      {% assign page = (index | divided_by:site.per_page) | plus:1 %}
      {% include posts/post_preview.html post=post portfolio_title=portfolio_title page=page %}
    {% endfor %}
  </div>
{% endif %}

{% if posts.size > site.per_page %}
  <div class="col-sm-12 pagination">
    <button class="btn btn-lg btn-default prev-category-page disabled">
      <span class="glyphicon glyphicon-triangle-left"></span>
    </button>
    <span class="page-number" data-page="1">Page: 1 of {{ posts.size | times:1.0 | divided_by:site.per_page | ceil }} </span>
    <button class="btn btn-lg btn-default next-category-page">
      <span class="glyphicon glyphicon-triangle-right"></span>
    </button>
  </div>
{% endif %}
