<!DOCTYPE html>
<html lang="en">
  {% include head.html header=page.header %}
  <body>
    {% include header.html header=page.header %}   
    <div class="container col-sm-8 col-sm-offset-2">
      <div class="col-sm-10 col-sm-offset-1">
        {{ content }}
      </div>
    </div>
    <footer>
      <div class="footer-container col-sm-8 col-sm-offset-2 text-center">
        <div class="col-sm-10 col-sm-offset-1">
          <hr>
          <span>
            Powered by
            <a href="https://pages.github.com/" class="glowing-logo">
              <img src="/assets/images/GitHub-Pages.png" alt="GitHub Pages" class="github-pages-logo">
            </a>
            &
            <a href="http://getbootstrap.com/" class="glowing-logo">
              <img src="/assets/images/Bootstrap.png" alt="B" class="bootstrap-logo">
            </a>
        </div>
      </div>
    </footer>
    {% include modal.html %}
    {% include back_to_top.html %}
  </body>
</html>
