---
layout: default
---

<div class="post">
  <div class="page-header">
    <h1 class="page-title">
      {{page.category}}
      <span class="grey-divider">|</span>
      {{page.title}}
      <br>
      {% include post_description.html description=page.description %}
      <br>
      {% include post_date.html date=page.date %}
    </h3>
  </div>
  <div class="container-fluid no-padding post-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>{{page.content}}</p>
      </div>
    </div>
  </div>
</div>
