#site-header {
  height: $site-header-height;
  transition: background-color $animation-duration ease-in-out;

  .navbar-nav {
    margin-left: auto;
  }

  #resume {
    margin-left: map-get($spacers, 3);
  }
}

html:not([data-scroll='0']) {
  #site-header {
    background: rgba($dark, .75);
  }
}

.offcanvas {
  #resume {
    margin-top: map-get($spacers, 2);
  }
}
