@use "sass:map";

section {
  position: relative;
  min-height: 100vh;

  &:nth-child(n + 2) {
    background: $section-bg;
  }

  &:nth-child(2n + 3) {
    background: $section-bg-alt;
  }

  .section-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: calc($site-header-height + map.get($spacers, 4)) $spacer;
    margin: auto;
  }

  .section-title {
    @extend .display-4;
    width: 100%;
    margin-bottom: $spacer * 1.5;
    display: flex;
    align-items: center;

    hr {
      flex: 1 1 auto;
      margin-left: $spacer * 1.5;
    }
  }
}

$section-widths: (
  xs: 100%,
  sm: 100%,
  md: 100%,
  lg: 64rem,
  xl: 70rem,
  xxl: 70rem,
  xxxl: 90rem,
  x4k: 120rem,
);

@each $breakpoint, $value in $section-widths {
  @include media-breakpoint-up($breakpoint) {
    section {
      .section-container {
        width: $value;
      }
    }
  }
}
