<section id="backgroundSection">
  <div class="container fade-in">
    <div class="col-xl-2 col-lg-3 section-title">
      <h6 class="text-success m-0">BACKGROUND</h6>
    </div>
    <div class="col-xl-10 col-lg-9 section-content">
      <p>I'm currently living in Springfield, Illinois and seeking a position as a front-end or full-stack web developer. I recently graduated from <a href="http://www.cofc.edu/" target="_blank" class="underline-link font-weight-bold">College of Charleston</a> while interning as a full-stack Ruby on Rails developer at the <a href="https://www.musc.edu" target="_blank" class="underline-link font-weight-bold">Medical University of South Carolina</a> for three years.</p>
      <p>Being a software engineer requires a keen eye for detail, a drive to learn new things, and the ability to collaborate within a team. My goal as a full-stack developer is to provide my customers with beautiful, intuitive front-end solutions supported by a well-designed, carefully-crafted back-end.</p>
      <p class="m-0">When I'm not behind a screen, I'm an explorer, musician, and foodie. I love travel the world to experience history and art, immerse myself in music, and indulge in the local cuisine!</p>
    </div>
  </div>
</section>
