<section id="backgroundSection">
  <div class="container fade-in">
    <div class="col-xl-2 col-lg-3 section-header">
      <h6 class="text-success m-0">ABOUT ME</h6>
    </div>
    <div class="col-xl-10 col-lg-9 section-content">
      <p>I'm currently living in Springfield, Illinois and work remotely as a full-stack developer for the <a href="http://www.musc.edu/" target="_blank" class="font-weight-bold">Medical University of South Carolina</a>, building complex, open-source web applications used to manage costs and services for clinical research studies at universities across the United States. I graduated from <a href="http://www.cofc.edu/" target="_blank" class="font-weight-bold">College of Charleston</a> in May 2018 with a B.S. in Computer Science and a minor in mathematics.</p>
      <p>My goal as a full-stack developer is to provide my customers with beautiful, intuitive front-end solutions supported by a well-structured and thoroughly-tested back-end. Being a developer requires a keen eye for every detail of your work, a drive for innovative thinking and creative problem solving, and the ability to cooperate with others - both providing, and receiving, constructive feedback and criticism.</p>
      <p class="m-0">When I'm not behind the screen, I'm an explorer, musician, and foodie. I love travel the world to experience new places - my favorites so far being Iceland and Switzerland. I've played percussion for more than half of my life, performing with orchestral, jazz, and marching groups. At home, I enjoy trying new recipes in the kitchen and playing with my two wonderful cats.</p>
    </div>
  </div>
</section>
