<section class="main position-relative">
  <div class="container">
    <div id="greetingContainer" class="col-12 col-lg-6 d-flex flex-column justify-content-center">
      <h1 id="name" class="mb-4">
        <span>Kyle</span>
        <span class="text-success">Glick</span>
      </h1>
      <p id="intro" class="text-muted font-weight-light">Front-End &amp; Full-stack Developer</p>
      <p id="aboutMe" class="font-weight-light">
        I'm a recent graduate of the College of Charleston with an an eye for detail and a pashion for designing sleek and intuitive websites. In my free time, I like to travel the world to indulge in art, history, and most importantly, food!
      </p>
    </div>
    <div id="greetingImageContainer" class="col-12 col-lg-5 d-flex align-items-center justify-content-center pr-0">
      <img src="{{ site.baseurl }}/assets/images/greeting.jpg" id="greetingImage">
    </div>
  </div>
</section>
