<section id="projectsSection">
  <div class="container">
    <div class="col-xl-2 col-lg-3 section-title fade-in">
      <h6 class="text-success m-0">PROJECTS</h6>
    </div>
    <div class="col-xl-10 col-lg-9 section-content">
      {% for project in site.portfolio %}
        {% if project[1].featured == 'true' %}
          <div class="row project">
            <div class="col-md-9 fade-in delay-1">
              <a href="{{ site.baseurl }}/portfolio/{{ project[0] }}">
                <img src="{{ site.baseurl }}/assets/images/portfolio/{{ project[0] }}/preview.png" class="w-100 project-preview hover-img">
              </a>
            </div>
            <div class="col-md-3 fade-in delay-2">
              <a href="{{ site.baseurl }}/portfolio/{{ project[0] }}">
                <h6 class="project-title">{{ project[1].name }}</h6>
              </a>
              <p class="mb-3 project-description">{{ project[1].description }}</p>
              <div class="d-flex flex-wrap mb-3 tags">
                {% for tag in project[1].tags %}
                  <span class="border border-info rounded text-info px-3 py-1 mr-2 mb-2 tag">{{ tag }}</span>
                {% endfor %}
              </div>
              <ul class="list-unstyled d-flex links">
                {% for link in project[1].links %}
                  <li>
                    <a href="{{ link[1] }}" target="_blank" class="mr-3 brand-link {{ link[0] }}-link">
                      <i class="fab fa-{{ link[0] }}"></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-12 text-center mt-5 fade-in delay-1">
      <a href="{{ site.baseurl }}/portfolio" class="d-inline-block view-projects">
        <h6 class="mb-0">
          <i class="fas fa-arrow-right mr-2"></i>
          View My Full Portfolio
          <i class="fas fa-arrow-left ml-2"></i>
        </h6>
      </a>
    </div>
  </div>
</section>
