<section id="skillsSection">
  <div class="container">
    <div class="col-xl-2 col-lg-3 section-header fade-in">
      <h6 class="text-success m-0">SKILLS</h6>
    </div>
    <div class="col-xl-10 col-lg-9 section-content">
      <div class="row skills">
        <div class="col-6 col-md-3 subsection fade-in delay-1">
          <h6 class="subsection-title">Languages</h6>
          <ul class="subsection-content pl-5">
            {% for lang in site.skills.languages %}
              <li>{{ lang }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-6 col-md-3 subsection fade-in delay-2">
          <h6 class="subsection-title">Frameworks</h6>
          <ul class="subsection-content pl-5">
            {% for frame in site.skills.frameworks %}
              <li>{{ frame }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-6 col-md-3 subsection fade-in delay-3">
          <h6 class="subsection-title">Utilities</h6>
          <ul class="subsection-content pl-5">
            {% for util in site.skills.utilities %}
              <li>{{ util }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-6 col-md-3 subsection fade-in delay-4">
          <h6 class="subsection-title">Methodologies</h6>
          <ul class="subsection-content pl-5">
            {% for method in site.skills.methodologies %}
              <li>{{ method }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
