a {
  text-decoration: none;
  outline: none;
  transition: color $animation-duration ease-in-out;

  &:focus {
    color: var(--bs-link-hover-color);
  }
}

.fade-in-section {
  display: flex;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity $animation-duration ease-out, $animation-duration * 2 ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

$root-font-sizes: (
  xs: 1em,
  sm: 1em,
  md: 1em,
  lg: 1em,
  xl: 1em,
  xxl: 1.25em,
  xxxl: 1.5em,
  x4k: 2em,
);

@each $breakpoint, $value in $root-font-sizes {
  @include media-breakpoint-up($breakpoint) {
    :root {
      font-size: $value;
    }
  }
}
