a {
  text-decoration: none;
  outline: none;
  transition: color $animation-duration ease-in-out;

  &:focus {
    color: var(--bs-link-hover-color);
  }
}

.fade-in-section {
  display: flex;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity $animation-duration ease-out, $animation-duration * 2 ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
