html {
  &[data-bs-theme="light"] {
    color-scheme: light;
  }
  
  &[data-bs-theme="dark"] {
    color-scheme: dark;
  }
}

a {
  text-decoration: none;
  outline: none;
  transition: color $animation-duration ease-in-out;

  &:focus {
    color: var(--bs-link-hover-color);
  }
}

hr {
  color: light-dark($hr-color, $hr-color-dark);
}

.fade-in-section {
  display: flex;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity $animation-duration ease-out, $animation-duration * 2 ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@each $breakpoint, $value in $root-font-sizes {
  @include media-breakpoint-up($breakpoint) {
    :root {
      font-size: $value;
    }
  }
}
